<h1 class="center" >Log in</h1>
<br>
<br>

<div class="center">
  <div class="login-container">
    <%= form_tag '/login' , method: :post do %>
      <div class="login center">
        <%= label_tag :email %> :&nbsp;
          <%= text_field_tag :email%>
      </div>
      <br>
      <div class="login center">
        <%= label_tag :password %> :&nbsp;
          <%= password_field_tag :password %>
      </div>
      <br>
      <br>
      <button class="btn center login-btn" type="submit"> Submit </button>
      <br>
  </div>


  <%end%>

</div>