<br>
<h1 class="center">Sign Up</h1>
<br>
<div class="spacer">
  <div class="users-index-container">
    <div class="users-index center">
      <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name %> <br>
      <%= f.text_field :name, class: 'form-control' %><br>
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>
      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br><br>
      <%= f.submit "Create my account", class: "center btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>