<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= @project.title %></title>
</head>

<body>
<br>
<h1 class="center"><%= @project.title.capitalize %></h1>
<br>

<table class="basic-table" >
    <tr>
      <th>Edit</th>
      <th>Tasks </th>
      <th>Status</th>
      <th>Due date</th>
      
    
      
    </tr>
    <% @project.tasks.each do |task| %>

      <tr>
        <%if task.status.downcase != "completed" && task.due_date < Time.now %>
            <td  style="background-color:rgb(255, 124, 124)"> <a href="/tasks/<%=task.id%>" >Edit</a></td>
            <td style="background-color:rgb(255, 124, 124)"><%= task.title.capitalize %> </td>
            <td style="background-color:rgb(255, 124, 124)"><%=task.status.capitalize %></td>
            <td style="background-color: rgb(255, 124, 124)"><%=task.due_date %></td>
          <% elsif task.status == "completed" %>
          <td  style="background-color:rgb(98, 194, 95)"> <a href="/tasks/<%=task.id%>">Edit</a></td>
            <td style="background-color:rgb(98, 194, 95)"><%= task.title.capitalize %> </td>
            <td style="background-color:rgb(98, 194, 95)"><%=task.status.capitalize %></td>
            <td style="background-color: rgb(98, 194, 95)"><%=task.due_date %></td>
          <%else%>
          <td> <a href="/tasks/<%=task.id%>">Edit</a></td>
            <td><%= task.title.capitalize%> </td>
            <td><%= task.status.capitalize%> </td>
            <td><%= task.due_date%> </td>
          <%end%>
         
         
         
        <%end%>
      </tr>
  </table>



  <br>
  <h2 class="center">Add Task</h2>

<div class="container">
    <div class="task-input">
      <%= form_with model: @tasks , local: true  do |f| %>

      <p> <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>  </p>

    <p> <%= f.label :due_date %> 
       <%= f.date_field :due_date, class: 'form-control', placeholder: "" %> </p>

    <p> <%= f.label :status %>
       <%= f.select :status, [["Not started", "not started"], ["Started", "started"], ["Completed", "completed"]], {}, {class: "form-control"} %>
      
       <%= f.text_field :project_id, class: 'form-control', required: true, placeholder: @project.title,  value: @project.id , style: "display:none" %> </p>  
      <div class=" center">
      <%= f.submit "Create Task", class: "btn-task" %>
      </div>  
      <% end %>
    </div>
  </div>


  
  
  <br>
  <br>
  <a href="/">Back to Projects </a>
</body>

</html>
